In [1]:
2 + 6

8

In [2]:
5 + 4 - 3

6

In [3]:
2 * (2 + 2)

8

In [4]:
-7 + 2

-5

In [5]:
44/0

ZeroDivisionError: division by zero

In [6]:
10/5

2.0

In [7]:
8 / 2

4.0

In [8]:
6 * 7.0

42.0

In [9]:
4 + 1.65

5.65

In [10]:
2 ** 3

8

In [11]:
3 ** 3

27

In [12]:
#floor division

In [13]:
10 // 3

3

In [14]:
10 % 3

1

In [15]:
"We love python!"

'We love python!'

In [16]:
'The most popular general purpose programming language'

'The most popular general purpose programming language'

In [17]:
'Brian\'s mother: He\'s not the Messiah. He\'s a very naughty boy!'

"Brian's mother: He's not the Messiah. He's a very naughty boy!"

In [18]:
"""Me: Hi, there!
... She: Yes, please!"""

'Me: Hi, there!\nShe: Yes, please!'

In [19]:
input("Give me your country name: ")

Give me your country name: Bangladesh

'Bangladesh'

In [20]:
print('Hello World!')

Hello World!

In [21]:
print(5+5)

10

In [22]:
print('Name: Bangladeash\nPopulation: 156.6M')

Name: Bangladeash
Population: 156.6M

In [23]:
"Spam" + 'eggs'

'Spameggs'

In [24]:
print("First string" + ", " + "second string")

First string, second string

In [25]:
"2" + "2"

'22'

In [26]:
1 + '2' + 3 + '4'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
#Repetition

In [30]:
print("spam" * 3)

spamspamspam

In [31]:
4 * '2'

'2222'

In [32]:
'17' * '87'

TypeError: can't multiply sequence by non-int of type 'str'

In [33]:
'pythonisfun' * 7.0

TypeError: can't multiply sequence by non-int of type 'float'

In [35]:
msg = "My self score on PHP: {0}, Python: {1}, Java: {2}, Swift: {3}". format(6, 6.5, 5, 6)

In [36]:
print(msg)

My self score on PHP: 6, Python: 6.5, Java: 5, Swift: 6

In [37]:
message = "If x = {x} and y = {y}, then x+y = {z}".format(x = 20, y = 300, z = 20+300)

In [38]:
print(message)

If x = 20 and y = 300, then x+y = 320

In [39]:
print(", ".join(["apple", "orange", "pineapple"]))
#prints "apple, orange, pineapple"

apple, orange, pineapple

In [40]:
print("Hello ME".replace("ME", "world"))
#prints "Hello world"

Hello world

In [41]:
print("This is a sentence.".startswith("This"))
# prints "True"

True

In [44]:
print("This is a sentence.".endswith("sentence."))
# prints "True"

True

In [43]:
print("This is a sentence.".upper())
# prints "THIS IS A SENTENCE."

print("AN ALL CAPS SENTENCE".lower())
#prints "an all caps sentence"

THIS IS A SENTENCE.
an all caps sentence

In [45]:
print("a, e, i, o, u".split(", "))
#prints "['a', 'e', 'i', 'o', 'u']"

['a', 'e', 'i', 'o', 'u']

In [50]:
# String to Integer Conversion
int("123")

123

In [51]:
# float to Integer Conversion
int(12.3)

12

In [52]:
int("123a")

ValueError: invalid literal for int() with base 10: '123a'

In [53]:
# String to float Conversion
float("123.456")

123.456

In [54]:
# Integer to float Conversion
float(123)

123.0

In [55]:
float("123.456")

123.456

In [56]:
int(123.456)

123

In [57]:
int("123.456")

ValueError: invalid literal for int() with base 10: '123.456'

In [58]:
str(123)

'123'

In [62]:
#Concatenation is done by using +

In [63]:
print("Float = " + str(10.5) + " Integer = " + str(50))

Float = 10.5 Integer = 50

In [64]:
 x = 7
print(x)

7

In [65]:
print(x + 3)

10

In [66]:
print(x)

7

In [67]:
x = 10.5
print(x)

10.5

In [68]:
x = "Hello There"
print(x)

Hello There

In [69]:
this_is_a_normal_name = 7

In [70]:
123abc = 7

SyntaxError: invalid syntax (<ipython-input-70-832276f08c93>, line 1)

In [71]:
user_input = input("Enter your birth year: ")

Enter your birth year: 1987

In [72]:
age = 2016 - int(user_input)

In [73]:
print("You are " + str(age) + " years old!")

You are 29 years old!

In [74]:
a = 3

In [75]:
a += 2

In [76]:
print(a)

5

In [78]:
#Concatenation of String

In [79]:
language = "Python"
language += "3"
print(language)

Python3