In [1]:
myVar = "I love Bangladsh"

In [2]:
print(myVar)

I love Bangladsh

In [3]:
var1 = "2 + 2"

In [4]:
print(var1)

2 + 2

In [7]:
var2 = 2 + 2

In [8]:
print(var2)

4

In [9]:
# = - * /

In [11]:
var2 = 2 - 2
print(var2)

0

In [12]:
var2 = 2 * 2
print(var2)

4

In [16]:
var2 = 2 / 2
print(var2)

1.0

In [15]:
var2 = 3**2
print(var2)

9

In [21]:
v1 = "My name is "
print(v1)

My name is

In [19]:
v2 = "Rony"
print(v2)

Rony

In [22]:
print(v1+v2)

My name is Rony

In [24]:
text = "Two and two makes "
math = 2+2
result = str(math)
print(text+result)

Two and two makes 4

In [25]:
x,y = (3,4)

In [26]:
print(x)

3

In [27]:
print(y)

4

In [29]:
x,y,z = (3,4,4)

In [30]:
print(x+y+z)

11

In [31]:
10/3

3.3333333333333335

In [32]:
10//3

3